<form class="form-signin">
  <h2 class="form-signin-heading">Panel de ingreso</h2>
  <input type="text" class="input-block-level" placeholder="Email address">
  <input type="password" class="input-block-level" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  <button class="btn btn-primary">Ingresar</button>
  <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
</form>